<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>

    <link rel="icon" href="/backend/src/main/resources/static/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/EmergencyContact/EC_check.css">
    <link rel="stylesheet" href="/css/paging.css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


</head>
<body>
<!-- HEADER -->
<script type="module" src="/js/header.js"></script>
<port-header></port-header>

<!--Emergency-contact-inquiry-->

<div class="Emergency-contact-inquiry">

    <div class="inquiry-title">
        <p>비상연락망 조회</p>
    </div>
    <br><br>
    <!-- <div class="inquiry-line-1">
      <p>
        <span class="fonts">이름</span>&nbsp; <input type="text" placeholder = &nbsp;홍길동 style="width: 80px;">
        &nbsp;
        <span class="fonts">소속 회사</span>&nbsp; <input type="text" placeholder= "&nbsp;OO회사" style="width: 80px;">
        &nbsp;
      </p>
    </div> -->
    <div class="inquiry-button">
        <span class="fonts">이름</span>&nbsp; <input id="staffName" type="text" placeholder="이름 입력" style="width: 80px;">
        &nbsp;
        <span class="fonts">소속 회사</span>&nbsp; <input id="corporationName" type="text" placeholder="회사명 입력" style="width: 80px;">
        &nbsp;
        <span class="imsi-button" onclick="search()">&nbsp;&nbsp;검색&nbsp;&nbsp;</span>
    </div>
    <br>

    <table>
        <thead>
        <tr>
            <th class="fonts">Index</th>
            <th class="fonts">이름</th>
            <th class="fonts">소속 회사</th>
            <th class="fonts">조직</th>
            <th class="fonts">직급</th>
            <th class="fonts">이메일 주소</th>
            <th class="fonts">연락처</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${staffList.getTotalPages() != 0}" th:each="staff : ${staffList}">
            <td th:text="${staffStat.count} + ${staffList.number} * 10"></td>
            <td th:text="${staff.name}"></td>
            <td th:text="${staff.corporation}"></td>
            <td th:text="${staff.group}"></td>
            <td th:text="${staff.position}"></td>
            <td th:text="${staff.email}"></td>
            <td th:text="${staff.phoneNumber}"></td>
        </tr>
        <tr th:if="${staffList.getTotalPages() == 0}">
            <td colspan="7">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
        <!--        <tfoot>-->
        <!--        <tr>-->
        <!--            <td>10</td>-->
        <!--            <td>아무개</td>-->
        <!--            <td>DDD</td>-->
        <!--            <td>시설</td>-->
        <!--            <td>과장</td>-->
        <!--            <td>sdjflksj9@naver.com</td>-->
        <!--            <td>01012345678</td>-->
        <!--        </tr>-->
        <!--        </tfoot>-->
    </table>
    <div class="page_wrap">
        <div class="page_nation">
            <ul class="page_ul"
                th:if="${staffList.getTotalPages() != 0}"
                th:with="start=${T(java.lang.Math).floor(staffList.number/10)*10 + 1}, last=(${start + 9 < staffList.totalPages ? start + 9 : staffList.totalPages})">
                <!--with: 변수 설정-->
                <!--start: 현제 페이지를 통해 현재 페이지 그룹의 시작 페이지를 구하는 로직-->
                <!--last: 전체 페이지 수와 현재 페이지 그룹의 시작 페이지를 통해 현재 페이지 그룹의 마지막 페이지를 구하는 로직-->
                <li class="page_li">
                    <a class="arrow pprev" th:href="@{/EmergencyContact/EC_Check(page=1,name=${condition.name},corporation=${condition.corporation})}"></a>
                    <!--페이지 번호, 정렬, 검색 타입, 검색어 get 방식으로 넘겨줌-->
                </li>
                <li class="page_li">
                    <a class="arrow prev"
                       th:href="${staffList.first} ? '#' : @{/EmergencyContact/EC_Check(page=${staffList.number},name=${condition.name},corporation=${condition.corporation})}"></a>
                </li>
                <li class="page_li" th:each="page: ${#numbers.sequence(start, last)}">
                    <a th:text="${page}" th:class="${page == staffList.number + 1} ? 'active'"
                       th:href="@{/EmergencyContact/EC_Check(page=${page},name=${condition.name},corporation=${condition.corporation})}"></a>
                </li>
                <li class="page_li">
                    <a class="arrow next"
                       th:href="${staffList.last} ? '#' : @{/EmergencyContact/EC_Check(page=${staffList.number + 2},name=${condition.name},corporation=${condition.corporation})}"></a>
                </li>
                <li class="page_li">
                    <a class="arrow nnext"
                       th:href="@{/EmergencyContact/EC_Check(page=${staffList.totalPages},name=${condition.name},corporation=${condition.corporation})}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="regist-button">
        <a href="/EmergencyContact/EC_Register_Page"><span class="imsi-button">&nbsp;&nbsp;등록&nbsp;&nbsp;</span></a>
        <a href="#"><span class="imsi-button">&nbsp;&nbsp;수정&nbsp;&nbsp;</span></a>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
</footer>
</body>
<script>
    let staffNameVal;
    let corporationNameVal;

    const totalUrl = new URL(window.location.href);
    const urlParams = totalUrl.searchParams;
    window.onload = function () {
        type = 'code';
        if (urlParams.get('name')) {
            document.getElementById("staffName").value = urlParams.get('name');
        }
        if (urlParams.get('corporation')) {
            document.getElementById("corporationName").value = urlParams.get('corporation');
        }
    }

    function search() {
        let urlStr = window.location.href;
        let split = urlStr.split('?');
        let preUrl = new URL(split[0]);

        /* input text값 가져오기 */
        staffNameVal = document.getElementById("staffName").value;
        corporationNameVal = document.getElementById("corporationName").value;

        let conditionStr = "";

        if (staffNameVal) {
            conditionStr += "name=" + staffNameVal + "&";
        }
        if (corporationNameVal) {
            conditionStr += "corporation=" + corporationNameVal;
        }

        // if (conditionStr == "") {
        //     alert("검색 조건을 설정해주세요.");
        //     return false;
        // }

        location.replace(preUrl + "?" + conditionStr);
    }

</script>
<script src="/backend/src/main/resources/static/js/EC_check.js"></script>
</html>