<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>

    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/TrainingResult/TR_check.css">
    <link rel="stylesheet" href="/css/paging.css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
<!-- HEADER -->
<script type="module" src="/js/header.js"></script>
<port-header></port-header>

<!--training-results-inquiry-->

<div class="training-results-inquiry">

    <div class="inquiry-title">
        <p>대응훈련 결과 조회</p>
    </div>
    <span class="fonts">안전사고 유형&nbsp;
    <select id="incidentType" onchange="ChangeValue(); incidentType(this);">
      <option value="none" selected="selected">&nbsp;--&nbsp;</option>
      <option value="INCIDENT">사고</option>
      <option value="DISASTER">재난</option>
    </select></span>
    <br><br>
    <div class="inquiry-line-1">
        <span class="fonts"> 훈련명&nbsp; <input id="trainingName" type="text" placeholder="훈련명 입력"
                                              style="width: 140px;"> </span>
        &nbsp; &nbsp; &nbsp;
        <span><span class="fonts" id="ch1">사고 수준</span>
        <input type="radio" name="incidentLevel" value="LEVEL_1"> Level1
        <input type="radio" name="incidentLevel" value="LEVEL_2"> Level2
        <input type="radio" name="incidentLevel" value="LEVEL_3"> Level3 </span>
        &nbsp; &nbsp;
        <span class="fonts" id="ch2">사고 유형</span>&nbsp;
        <select id="incidentDetailTypeSelect" onchange="incidentDetailType(this)">
            <option value="none" selected="selected">&nbsp;--&nbsp;</option>
            <option value="추락">추락</option>
            <option value="넘어짐">넘어짐</option>
            <option value="부딪힘">부딪힘</option>
            <option value="끼임">끼임</option>
            <option value="맞음">맞음</option>
        </select>

        &nbsp; &nbsp;

        <span class="fonts">훈련수행부서</span>&nbsp; <input id="department" type="text" placeholder="부서명 입력"
                                                       style="width: 100px;">
        <div class="inquiry-button" style="padding: 10px 10px;"><span class="imsi-button" onclick="search()">&nbsp;&nbsp;검색&nbsp;&nbsp;</span>
        </div>
    </div>
    <br>


    <table>
        <thead>
        <tr>
            <th class="fonts">Index</th>
            <th class="fonts">시나리오명</th>
            <th class="fonts">훈련명</th>
            <th class="fonts">사고수준</th>
            <th class="fonts">사고유형</th>
            <th class="fonts">훈련장소</th>
            <th class="fonts">훈련수행부서</th>
            <th class="fonts">훈련대상항만구역</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${trList.getTotalPages() != 0}" th:each="tr : ${trList}"
            th:onclick="|location.href='@{/TrainingResult/trainingResult_detail/{resultId}(resultId=${tr.trainingResultId})}'|">
            <td th:text="${trStat.count} + ${trList.number} * 10"></td>
            <td th:text="${tr.scenarioName}"></td>
            <td th:text="${tr.trainingName}"></td>
            <td th:text="${tr.incidentLevel.getLevelValue()}"></td>
            <td th:text="${tr.incidentDetailType}"></td>
            <td th:text="${tr.place.getPlaceValue()}"></td>
            <td th:text="${tr.department}"></td>
            <td th:text="${tr.trainingArea}"></td>
        </tr>
        <tr th:if="${trList.getTotalPages() == 0}"> <!--users 리스트의 페이지가 0이면 다음 문장 출력-->
            <td colspan="8">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div class="page_wrap">
        <div class="page_nation">
            <ul class="page_ul"
                th:if="${trList.getTotalPages() != 0}"
                th:with="start=${T(java.lang.Math).floor(trList.number/10)*10 + 1},
          last=(${start + 9 < trList.totalPages ? start + 9 : trList.totalPages})">
                <!--with: 변수 설정-->
                <!--start: 현제 페이지를 통해 현재 페이지 그룹의 시작 페이지를 구하는 로직-->
                <!--last: 전체 페이지 수와 현재 페이지 그룹의 시작 페이지를 통해 현재 페이지 그룹의 마지막 페이지를 구하는 로직-->
                <li class="page_li">
                    <a class="arrow pprev"
                       th:href="@{/TrainingResult/trainingResult_list(page=1
                       ,incidentType=${condition.incidentType},name=${condition.name}
                       ,incidentLevel=${condition.incidentLevel},incidentDetailType=${condition.incidentDetailType}
                       ,department=${condition.department})}"></a>
                    <!--페이지 번호, 정렬, 검색 타입, 검색어 get 방식으로 넘겨줌-->
                </li>
                <li class="page_li">
                    <a class="arrow prev"
                       th:href="${trList.first} ? '#' : @{/TrainingResult/trainingResult_list(page=${trList.number}
                       ,incidentType=${condition.incidentType},name=${condition.name}
                       ,incidentLevel=${condition.incidentLevel},incidentDetailType=${condition.incidentDetailType}
                       ,department=${condition.department})}"></a>
                </li>
                <li class="page_li" th:each="page: ${#numbers.sequence(start, last)}">
                    <a th:text="${page}" th:class="${page == trList.number + 1} ? 'active'"
                       th:href="@{/TrainingResult/trainingResult_list(page=${page}
                       ,incidentType=${condition.incidentType},name=${condition.name}
                       ,incidentLevel=${condition.incidentLevel},incidentDetailType=${condition.incidentDetailType}
                       ,department=${condition.department})}"></a>
                </li>
                <li class="page_li">
                    <a class="arrow next"
                       th:href="${trList.last} ? '#' : @{/TrainingResult/trainingResult_list(page=${trList.number + 2}
                       ,incidentType=${condition.incidentType},name=${condition.name}
                       ,incidentLevel=${condition.incidentLevel},incidentDetailType=${condition.incidentDetailType}
                       ,department=${condition.department})}"></a>
                </li>
                <li class="page_li">
                    <a class="arrow nnext"
                       th:href="@{/TrainingResult/trainingResult_list(page=${trList.totalPages},
                       incidentType=${condition.incidentType},name=${condition.name}
                       ,incidentLevel=${condition.incidentLevel},incidentDetailType=${condition.incidentDetailType}
                       ,department=${condition.department})}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="regist-button">
        <a href="/TrainingResult/trainingResult_registerPage"><span
                class="imsi-button">&nbsp;&nbsp;등록&nbsp;&nbsp;</span></a>
        <a href="/TrainingResult/trainingResult_modifyPage"><span class="imsi-button">&nbsp;&nbsp;수정&nbsp;&nbsp;</span></a>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
</footer>
</body>
<script>
    let incidentTypeVal;            // 안전사고 유형
    let incidentDetailTypeVal;      // 사고 유형
    let trainingNameVal;      // 훈련명
    let incidentLevelVal;      // 사고 수준
    let departmentVal;      // 훈련 수행 부서

    const totalUrl = new URL(window.location.href);
    const urlParams = totalUrl.searchParams;
    window.onload = function () {
        type = 'code';
        if (urlParams.get('incidentType')) {
            incidentTypeVal = urlParams.get('incidentType');
            selectedControl('incidentType', urlParams.get('incidentType'));
        }
        if (urlParams.get('name')) {     //input text
            document.getElementById("trainingName").value = urlParams.get('name'); //set value on myInputID
        }
        if (urlParams.get('incidentLevel')) {    //radio button
            const incidentLevelList
                = document.getElementsByName('incidentLevel');

            incidentLevelList.forEach((node) => {
                if (node.value == urlParams.get('incidentLevel')) {
                    node.checked = true;

                    // ele[i].checked === true
                    // incidentLevelVal = node.value;
                }
            })
        }
        if (urlParams.get('incidentDetailType')) {   //select box
            incidentDetailTypeVal = urlParams.get('incidentDetailType');
            selectedControl('incidentDetailTypeSelect', urlParams.get('incidentDetailType'));
        }
        if (urlParams.get('department')) { //input text
            document.getElementById("department").value = urlParams.get('department'); //set value on myInputID
        }
    }

    function selectedControl(elementId, urlParamVal) {
        const el = document.getElementById(elementId);  //select box
        const len = el.options.length; //select box의 option 갯수
        //select box의 option 갯수만큼 for문 돌림
        for (let i = 0; i < len; i++) {
            //select box의 option value가 입력 받은 value의 값과 일치할 경우 selected
            if (el.options[i].value == urlParamVal) {
                el.options[i].selected = true;
            }
        }
    }


    /* select box 옵션 값 선택 */
    const incidentType = (target) => {
        // 선택한 option의 value 값
        incidentTypeVal = target.value;
    }
    const incidentDetailType = (target) => {
        // 선택한 option의 value 값
        incidentDetailTypeVal = target.value;
    }


    function search() {
        let urlStr = window.location.href;
        let split = urlStr.split('?');
        let preUrl = new URL(split[0]);

        /* input text값 가져오기 */
        trainingNameVal = document.getElementById("trainingName").value;
        departmentVal = document.getElementById("department").value;

        /* 라디오버튼 값 가져오기 */
        const incidentLevelList
            = document.getElementsByName('incidentLevel');

        incidentLevelList.forEach((node) => {
            if (node.checked) {
                incidentLevelVal = node.value;
            }
        })

        let conditionStr = "";

        if (incidentTypeVal != 'none' && incidentTypeVal != undefined) {
            conditionStr += "incidentType=" + incidentTypeVal + "&";
        }
        if (incidentDetailTypeVal != 'none' && incidentDetailTypeVal != undefined) {
            conditionStr += "incidentDetailType=" + incidentDetailTypeVal + "&";
        }
        if (trainingNameVal) {
            conditionStr += "name=" + trainingNameVal + "&";
        }
        if (departmentVal) {
            conditionStr += "department=" + departmentVal + "&";
        }
        if (incidentLevelVal) {
            conditionStr += "incidentLevel=" + incidentLevelVal;
        }

        if (conditionStr == "") {
            alert("검색 조건을 설정해주세요.");
            return false;
        }

        location.replace(preUrl + "?" + conditionStr);
    }

</script>
<script src="/js/TrainingResult/TR_check.js"></script>
</html>