<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>

    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/TrainingResult/TR_days.css">


    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- JQuery Number Plugin -->
    <script src="/js/jquery.number.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<!-- HEADER -->
<script type="module" src="/js/header.js"></script>
<port-header></port-header>
<!--training-results-date-->

<div class="training-results-date">

    <div class="inquiry-title">
        <p>대응훈련 일자별 수행 결과 등록</p>
    </div>

    <div class="inquiry-line-1">
        <p>
            <span class="fonts"> 시나리오명&nbsp; </span><input type="text" placeholder="SY2">
            &nbsp;  &nbsp;  &nbsp;

            <span class="fonts">훈련명</span>&nbsp; <select>
            <option>추락예방훈련</option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
        </select>
            &nbsp;  &nbsp;  &nbsp;

            <span class="fonts">완료 유무</span>&nbsp; <select>
            <option>완료</option>
            <option>진행중</option>
        </select>
            &nbsp;  &nbsp;  &nbsp;
        </p>
    </div>

    <!--
    <div class="inquiry-line-2">
      <p>
        <span class="fonts">유형</span>&nbsp;
        <select onChange="change(this.options[this.selectedIndex].value)">
          <option value="type1">사고</option>
          <option value="type2">재난</option>
        </select>
        &nbsp;  &nbsp;  &nbsp;

        <span class="fonts">레벨</span>&nbsp;
        <select onChange="change1(this.options[this.selectedIndex].value)">
          <option value="level1">Level 1</option>
          <option value="level2">Level 2</option>
          <option value="level3">Level 3</option>
        </select>
        &nbsp;  &nbsp;  &nbsp;

        <span class="fonts">수행 일자</span>&nbsp;
        <select onChange="change2(this.options[this.selectedIndex].value)">
          <option value="day1">1일차</option>
          <option value="day2">2일차</option>
          <option value="day3">3일차</option>
        </select>
        &nbsp;  &nbsp;  &nbsp;
      </p>
    </div>
  -->


    <div class="inquiry-line-3">
        <div class="inquiry-line-3.a">
            <label><input type="radio" name="formType" value="1" checked onclick="chooseForm(this.name)" />사고 - 레벨1 - 1일차</label>
            <br>
            <label><input type="radio" name="formType" value="2" onclick="chooseForm(this.name)" />사고 - 레벨1 - 2일차</label>
            <br>
            <label><input type="radio" name="formType" value="3" onclick="chooseForm(this.name)" />사고 - 레벨2 - 1일차</label>
            <br>
            <label><input type="radio" name="formType" value="4" onclick="chooseForm(this.name)" />사고 - 레벨2 - 2일차</label>
            <br>
            <label><input type="radio" name="formType" value="5" onclick="chooseForm(this.name)" />사고 - 레벨3 - 1일차</label>
            <br>
            <label><input type="radio" name="formType" value="6" onclick="chooseForm(this.name)" />사고 - 레벨3 - 2일차</label>
            <br>
            <label><input type="radio" name="formType" value="7" onclick="chooseForm(this.name)" />사고 - 레벨3 - 3일차</label>
            <br>
        </div>
        <div class="inquiry-line-3.a">
            <label><input type="radio" name="formType" value="8" checked onclick="chooseForm(this.name)" />재난 - 레벨1 - 1일차</label>
            <br>
            <label><input type="radio" name="formType" value="10" onclick="chooseForm(this.name)" />재난 - 레벨2 - 1일차</label>
            <br>
            <label><input type="radio" name="formType" value="11" onclick="chooseForm(this.name)" />재난 - 레벨2 - 2일차</label>
            <br>
            <label><input type="radio" name="formType" value="12" onclick="chooseForm(this.name)" />재난 - 레벨3 - 1일차</label>
            <br>
            <label><input type="radio" name="formType" value="13" onclick="chooseForm(this.name)" />재난 - 레벨3 - 2일차</label>
            <br>
            <label><input type="radio" name="formType" value="14" onclick="chooseForm(this.name)" />재난 - 레벨3 - 3일차</label>
            <br>
        </div>
    </div>


    <div class="inquiry-line-3">
        <p class="fonts">평가 상세 항목</p>
    </div><br>

    <div id="form_1" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>항만 안전사고 초기 상황 확인</td>
                <td>	<input
                        type="text"
                        class="score"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>조치사항 지시(하역작업 중단 등)</td>
                <td><input
                        type="text"
                        class="score"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>사고현장 방문 및 대응상황 점검</td>
                <td><input
                        type="text"
                        class="score"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>시설물 점검 및 복구 계획 수립</td>
                <td><input
                        type="text"
                        class="score"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 40</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_2" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 복구</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>시설피해현황 파악</td>
                <td><input
                        type="text"
                        class="score2"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal2();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 시설물 자체 점검</td>
                <td><input
                        type="text"
                        class="score2"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal2();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 복구 작업 진행</td>
                <td><input
                        type="text"
                        class="score2"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal2();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 30</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_3" name="radioName" value = 3 style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>항만 안전사고 초기 상황 확인</td>
                <td><input
                        type="text"
                        class="score3"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal3();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>긴급 대응조직 편성</td>
                <td><input
                        type="text"
                        class="score3"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal3();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>조치사항 지시</td>
                <td><input
                        type="text"
                        class="score3"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal3();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>사고현장 방문 및 대응상황 점검</td>
                <td><input
                        type="text"
                        class="score3"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal3();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>시설물 점검 및 복구 계획 수립</td>
                <td><input
                        type="text"
                        class="score3"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal3();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 50</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="view4" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 복구</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>시설피해현황 파악</td>
                <td><input
                        type="text"
                        class="score4"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal4();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>2차 피해 우려지역 점검 강화 및 피해 조사</td>
                <td><input
                        type="text"
                        class="score4"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal4();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 시설물 자체 점검</td>
                <td><input
                        type="text"
                        class="score4"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal4();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 복구 작업 진행</td>
                <td><input
                        type="text"
                        class="score4"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal4();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 40</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="view5" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>항만 안전사고 초기 상황 확인</td>
                <td><input
                        type="text"
                        class="score5"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal5();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>긴급 대응조직 편성 & 사고 대응 지휘 체계 구축</td>
                <td><input
                        type="text"
                        class="score5"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal5();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>비상근무 발령 & 24시간 대응체계 가동</td>
                <td><input
                        type="text"
                        class="score5"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal5();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>조치사항 지시</td>
                <td><input
                        type="text"
                        class="score5"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal5();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 40</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="view6" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>유관기관 상황 전파</td>
                <td><input
                        type="text"
                        class="score6"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal6();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>사고현장 방문 및 대응상황 점검</td>
                <td><input
                        type="text"
                        class="score6"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal6();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>시설물 점검 및 복구 계획 수립</td>
                <td><input
                        type="text"
                        class="score6"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal6();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>방송사 - 언론 기관에 보도 지원</td>
                <td><input
                        type="text"
                        class="score6"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal6();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 40</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="view7" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">사고 복구</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>시설피해현황 파악</td>
                <td><input
                        type="text"
                        class="score7"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal7();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>2차 피해 우려지역 점검 강화 및 피해 조사</td>
                <td><input
                        type="text"
                        class="score7"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal7();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>전체 시설물 점검</td>
                <td><input
                        type="text"
                        class="score7"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal7();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 복구 작업 진행</td>
                <td><input
                        type="text"
                        class="score7"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal7();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>수습상황 점검</td>
                <td><input
                        type="text"
                        class="score7"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal7();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 50</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_8" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">재난 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>재난 위기 징후 감시활동 강화</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>위기 경보 발령(관심)</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>비상연락망 및 협조체제 점검</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 규모 예측 및 대응 계획 사전 검토</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>항만 내 사고 취약 시설 등 장비 점검</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>안전관리 메뉴얼 점검 및 검토</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>수습 - 복구 인력 - 장비 - 물자 점검 및 출동태세 확인</td>
                <td><input
                        type="text"
                        class="score8"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal8();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 70</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_10" name="radioName" value = 3 style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">재난 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>재난 주의보 발령(위기)</td>
                <td><input
                        type="text"
                        class="score10"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal10();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>비상연락망 및 협조체제 가동</td>
                <td><input
                        type="text"
                        class="score10"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal10();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>긴급 대등조직 편성 & 사고대응 지휘 체제 구축</td>
                <td><input
                        type="text"
                        class="score10"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal10();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>유출에 따른 해양환경오염 여부 및 2차 피해 가능성 조사</td>
                <td><input
                        type="text"
                        class="score10"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal10();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>시설물 점검 및 복구 계획 수립</td>
                <td><input
                        type="text"
                        class="score10"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal10();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>항만업무연속성 필요 여부 확인 후 진행</td>
                <td><input
                        type="text"
                        class="score10"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal10();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 60</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_11" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">재난 복구</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>시설피해현황 파악</td>
                <td><input
                        type="text"
                        class="score11"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal11();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>2차 피해 우려지역 점검 강화 및 피해 조사</td>
                <td><input
                        type="text"
                        class="score11"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal11();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 시설물 자체 점검</td>
                <td><input
                        type="text"
                        class="score11"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal11();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 복구 작업 진행</td>
                <td><input
                        type="text"
                        class="score11"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal11();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>수습상황 점검</td>
                <td><input
                        type="text"
                        class="score11"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal11();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 50</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_12" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">재난 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>재난 위기 경보 발령(심각)</td>
                <td><input
                        type="text"
                        class="score12"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal12();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>비상연락망 및 협조체제 가동</td>
                <td><input
                        type="text"
                        class="score12"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal12();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>긴급 대응조직 편성 & 사고대응 지휘 체제 구축</td>
                <td><input
                        type="text"
                        class="score12"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal12();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>유관기관 상황 전파</td>
                <td><input
                        type="text"
                        class="score12"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal12();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 40</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_13" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">재난 대응</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>유출에 따른 해양환경오염 여부 및 2차 피해 가능성 조사</td>
                <td><input
                        type="text"
                        class="score13"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal13();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>항만업무연속성 필요 여부 확인 후 진행</td>
                <td><input
                        type="text"
                        class="score13"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal13();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>시설물 점검 및 복구 계획 수립</td>
                <td><input
                        type="text"
                        class="score13"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal13();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>방송사 - 언론 기관에 보도 지원</td>
                <td><input
                        type="text"
                        class="score13"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal13();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 40</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="form_14" style="display: none;">
        <table>
            <thead>
            <tr>
                <th class="fonts">재난 복구</th>
                <th class="fonts">점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>시설피해현황 파악</td>
                <td><input
                        type="text"
                        class="score14"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal14();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>2차 피해 우려지역 점검 강화 및 피해 조사</td>
                <td><input
                        type="text"
                        class="score14"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal14();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 시설물 점검</td>
                <td><input
                        type="text"
                        class="score14"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal14();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>피해 복구 작업 진행</td>
                <td><input
                        type="text"
                        class="score14"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal14();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>수습상황 점검</td>
                <td><input
                        type="text"
                        class="score14"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal14();"
                /><span> / 10</span></td>
            </tr>
            <tr>
                <td>단계별 수습상황 브리핑 및 보도자료 배포</td>
                <td><input
                        type="text"
                        class="score14"
                        name="score1"
                        value="0"
                        maxLength="2"
                        data-limit="10"
                        onkeyup="setNumeric(this);autoCal14();"
                /><span> / 10</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>총 점</td>
                <td><input type="text" name="totalScore" value="0" readonly />
                    <span> / 60</span></td>
            </tr>
            </tfoot>
        </table>
    </div>


    <!--modal-->

    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <p>점수가 20점 이하이므로 불합격입니다.</p>
                <p>해당 훈련을 다시 시행해주세요.</p>

            </div>
        </div>
    </div>

    <div class="regist-button">
        <a href="#"><span class="imsi-button" id="btn-modal">&nbsp;&nbsp;등록&nbsp;&nbsp;</span></a>
        <a href="/TrainingResult/TR_check.html"><span class="imsi-button">&nbsp;&nbsp;취소&nbsp;&nbsp;</span></a>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
</footer>
</body>
<script src="/js/TrainingResult/TR_days.js"> </script>
</html>