<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>

    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/TrainingResult/TR_detail.css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
<!-- HEADER -->
<script type="module" src="/js/header.js"></script>
<port-header></port-header>
<!--training-scenarios-inquiry-->

<div class="training-scenarios-inquiry">

    <div class="inquiry-title">
        <p>대응훈련 결과 조회</p>
    </div>
    <table>
        <tbody>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">시나리오명</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.scenario.name}"></td>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련명</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.name}">추락 예방 훈련</td>
        </tr>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 종류</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.trainingType}"></td>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 장소</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.place}"></td>
        </tr>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 시작 일시</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.startDate}"></td>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 종료 일시</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.endDate}"></td>
        </tr>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">안전사고 유형</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.incidentType}">사고</td>
            <td style="background-color: #f2eeee; font-weight: 600;">사고 수준</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.incidentLevel}">level 3</td>
        </tr>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">사고 유형</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.incidentDetailType}">추락</td>
            <td style="background-color: #f2eeee; font-weight: 600;">사고 영향</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.incidentImpact}">경상</td>
        </tr>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 대상 항만 설비</td>
            <td colspan="4" rowspan="1">
                <input name="CRANE" type="checkbox" disabled checked>크레인
                <input name="CONTAINER" type="checkbox" disabled>컨테이너
                <input name="FORKLIFT" type="checkbox" disabled>지게차
                <input name="LADDER" type="checkbox" disabled>사다리
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr><td colspan="4" style="border-left: 0.5px solid #fff; border-right: 0.5px solid #fff;"></td></tr>
        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 대상 항만 구역</td>
            <td colspan="4" rowspan="1" th:text="${trainingResult.trainingArea}"></td>
        </tr>

        <tr>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 수행 부서</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.department}"></td>
            <td style="background-color: #f2eeee; font-weight: 600;">훈련 참여 인원</td>
            <td colspan="1" rowspan="1" th:text="${trainingResult.trainingParticipants}"></td>
        </tr>
        </tbody>
    </table>
    <div class="regist-button">
        <a href="/TrainingResult/trainingResult_list"><span class="imsi-button">&nbsp;&nbsp;돌아가기&nbsp;&nbsp;</span></a>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
</footer>
</body>
<script th:inline="javascript">

    let trainingPortFacilityList = [[${portFacilityList}]]

    for (const element of trainingPortFacilityList) {
        let name = element.name;
        console.log(name);
    }

</script>
</html>