@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
/*COMMON*/

body{
  max-height: 150px;
  color:#333;
  overflow-x:hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px; 
  margin:  0 auto; 
  position: relative;
}

/*HEADER*/
header {
width:100%;
background-color: #2264bb;
border-bottom: 1px solid #c8c8c8;
position: relative; top:0;
z-index: 9;
}

header >.inner {
height: 120px;
}

header .logo {
position: relative; 
top:-5px; 
bottom: 0; 
left:-40px;
max-height: 100px;
}

.logo img {
  display: block; 
  max-height: 100px; 
  position: absolute; 
  top:20px;
}

header .sub-menu1 {
  position: absolute; 
  top:10px; 
  right: 0;
  display: flex;}

header .sub-menu1 ul.menu {
  font-family:Arial, sans-serif;
  display: flex; 
}

header .sub-menu1 ul.menu li {
  position: relative;
}

header .sub-menu1 ul.menu li::before {
  content: ""; 
  display: block;
  width:1px; 
  height: 12px; 
  background-color: #e5e5e5;
  position: absolute;
  top:0; 
  bottom: 0; 
  margin: auto 0;
}

header .sub-menu1 ul.menu li:first-child::before{
display: none;
}

header .sub-menu1 ul.menu li a{
  font-size: 12px;
  padding: 11px 16px; 
  display: block;
  color: white;
}

header .sub-menu1 ul.menu li a:hover{
  color: #d3d3d3; 
  font-weight: 700;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.main {
  position: absolute; 
  left: 150px; 
  top:61px;
}
#main-menu ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
}

#main-menu > li > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  font-weight: 700;
  padding: 10px 25px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

}
#main-menu > li > a:hover {
  color: #d3d3d3;
}
.line {
  height: 2px; background-color: gray; opacity: 0.7; width: 105.87px;
}
.line2 {
  height: 2px; background-color: gray; width: 110.35px; opacity: 0.7;
}
.line35 {
  height: 2px; background-color: gray; width: 164.21px; opacity: 0.7;
}
.line4 {
  height: 2px; background-color: gray; width: 168.7px; opacity: 0.7;
}
.line6 {
  height: 2px; background-color: gray; width: 119.32px; opacity: 0.7;
}
.line7 {
  height: 2px; background-color: gray; width: 81.92px; opacity: 0.7;
}

#sub-menu {
  position: absolute;
  top:60.08px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 7px 0px 7px 0px;
  width: 100%;
  margin: 0 auto; text-align: center;
}

#sub-menu > li >  a {
  color: #2264bb;
  text-decoration: none;
  font-size: 12px;
  
}

#main-menu > li:hover #sub-menu {
  opacity: 0.85;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 font-weight: 700;
}

/*chart*/
.title{
font-weight: 700;
text-align: center;
}
:root {
  --pi: 3.14159265359;
  --a1: 19;
  --a2: 17;
  --a3: 16;
  --a4: 13;
  --a5: 12;
  --a6: 23;
}
.explain{
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.stats{
  color: white;
  font-weight: 700;
  position: absolute;
  font-size: larger;
  text-align: center;
}
.stats:hover{cursor: pointer;}
.ver1{top:130px; left:240px;}
.ver2{top:250px; left:245px;}
.ver3{top:320px; left:180px;}
.ver4{top:310px; left:110px;}
.ver5{top:250px; left:60px;}
.ver6{top:140px; left:100px;}
.ex1{
  color: black;
  font-size: 16px;
  top: 235px;
  left: 325px;
}
.ex2{
  color: red;
  font-size: larger;
  top: 260px;
  left: 380px;
}
.fullcontainer{
  position: relative;
  display:inline;
  top:-35px;
}

.container {
  width: 800px;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-150px;
  left:-225px;
}

svg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes percent1 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--a1) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--a1) / 100));
  }
}

@keyframes percent2 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--a2) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--a2) / 100));
  }
}

@keyframes percent3 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--a3) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--a3) / 100));
  }
}

@keyframes percent4 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--a4) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--a4) / 100));
  }
}
@keyframes percent5 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--a5) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--a5) / 100));
  }
}
@keyframes percent6 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--a6) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--a6) / 100));
  }
}

.donut{
  transform-origin: center center;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: 0;
  cursor: pointer;
}

.donut:nth-child(1) {
  transform: rotateZ(-90deg);
  animation: percent1 1s ease-in-out forwards;
}

.donut:nth-child(2) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100)));
  animation: percent2 1s ease-in-out forwards;
}

.donut:nth-child(3) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100)));
  animation: percent3 1s ease-in-out forwards;
}

.donut:nth-child(4) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100) + calc(var(--a3) * 360deg / 100)));
  animation: percent4 1s ease-in-out forwards;
}
.donut:nth-child(5) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100) + calc(var(--a3) * 360deg / 100)
   + calc(var(--a4) * 360deg / 100)));
  animation: percent5 1s ease-in-out forwards;
}

.donut:nth-child(6) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100) + calc(var(--a3) * 360deg / 100)
  + calc(var(--a4) * 360deg / 100) + calc(var(--a5) * 360deg / 100)));
  animation: percent6 1s ease-in-out forwards;
}

.donut:hover {
  stroke-width: 75;
}

.sec{
  top:-330px;
}

/*dount chart 2*/
:root {
  --b1: 41;
  --b2: 24;
  --b3: 30;
  --b4: 5;
}
.s {
  transform-origin: center center;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: 0;
  cursor: pointer;
}
@keyframes percent7 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--b1) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--b1) / 100));
  }
}
@keyframes percent8 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--b2) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--b2) / 100));
  }
}
@keyframes percent9 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--b3) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--b3) / 100));
  }
}
@keyframes percent10 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 100 * var(--b4) / 100) calc(2 * var(--pi) * 100 * calc(1 - var(--b4) / 100));
  }
}
.s:nth-child(1) {
  transform: rotateZ(-90deg);
  animation: percent7 1s ease-in-out forwards;
}

.s:nth-child(2) {
  transform: rotateZ(calc(-90deg  + calc(var(--b1) * 360deg / 100)));
  animation: percent8 1s ease-in-out forwards;
}

.s:nth-child(3) {
  transform: rotateZ(calc(-90deg  + calc(var(--b1) * 360deg / 100) + calc(var(--b2) * 360deg / 100)));
  animation: percent9 1s ease-in-out forwards;
}

.s:nth-child(4) {
  transform: rotateZ(calc(-90deg  + calc(var(--b1) * 360deg / 100) + calc(var(--b2) * 360deg / 100) + calc(var(--b3) * 360deg / 100)));
  animation: percent10 1s ease-in-out forwards;
}
.fullcontainer2{
  position: relative;
  display:inline;
}
.container2 {
  width: 800px;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-150px;
  left:-225px;
}
.sec2{
  top:-330px;
}
.explain2{
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.ver7{top:160px; left:250px;}
.ver8{top:320px; left:120px;}
.ver9{top:220px; left:50px;}
.ver10{color:black;top:90px; left:100px;}

.ex3{
  color: black;
  font-size: 16px;
  top: 235px;
  left: 350px;
}
.ex4{
  color: red;
  font-size: larger;
  top: 260px;
  left: 380px;
}
.ex5{
  color: black;
  top:450px;
  font-size: 16px;
  left: 100px;
}
/*linechart*/
.linechart{
  position: absolute;
  width: 550px;
  height: 300px;
  top: 255px;
  left: 700px;
}
.height {
  position: absolute;
  width: 2px;
  height: 260px;
  background-color: gray;
  left: 20px;
  top:20px;

}
.width {
  position: absolute;
  width: 505px;
  height: 2px;
  background-color: gray;
  left: 10px;
  top:270px;
}
.sm{
  position: absolute;
  width: 2px;
  height:10px; 
}

.h1{top:270px;left:65px;background-color: gray;}
.h2{top:270px;left:115px;background-color: gray;}
.h3{top:270px;left:165px;background-color: gray;}
.h4{top:270px;left:215px;background-color: gray;}
.h5{top:270px;left:265px;background-color: gray;}
.h6{top:270px;left:315px;background-color: gray;}
.h7{top:270px;left:365px;background-color: gray;}
.h8{top:270px;left:415px;background-color: gray;}
.h9{top:270px;left:465px;background-color: gray;}
.h10{top:270px;left:515px;background-color: gray;}

.sm1{
  position: absolute;
  width: 10px;
  height:2px;  
}
.w1{left: 10px; top: 220px; background-color: gray;}
.w2{left: 10px; top: 170px; background-color: gray;}
.w3{left: 10px; top: 120px; background-color: gray;}
.w4{left: 10px; top: 70px; background-color: gray;}
.w5{left: 10px; top: 20px; background-color: gray;}

.ww{
  position: absolute;
  font-size: 12px;
  top:12.5px;
  left: -15px;
}
.hw{
  position: absolute;
  font-size: 14px;
  top:280px;
  left: 25px;
}

.li1{
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: blue;
  left: 37.5px;
  top:61px;
  transform: rotate(12deg);
}

.li2{
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: blue;
  left: 80px;
  top:89px;
  transform: rotate(50deg);
}
.li3{
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: blue;
  left: 129px;
  top:110px;
  transform: rotate(-2deg);
}
.li4{
  position: absolute;
  width: 67px;
  height: 2px;
  background-color: blue;
  left: 180px;
  top:125px;
  transform: rotate(27.5deg);
}
.li5{
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: blue;
  left: 226px;
  top:172px;
  transform: rotate(55deg);
}
.li6{
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: blue;
  left: 283px;
  top:222px;
  transform: rotate(35deg);
}
.li7{
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: blue;
  left: 323px;
  top:208px;
  transform: rotate(-50deg);
}
.li8{
  position: absolute;
  width: 48px;
  height: 2px;
  background-color: blue;
  left: 388.5px;
  top:174px;
  transform: rotate(-8deg);
}
.li9{
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: blue;
  left: 435px;
  top:168px;
  transform: rotate(-7deg);
}
.rotate{
  position: absolute;
  top: 135px;
  left: -55px;
  font-weight: 700;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);}
.title2 {
  position: absolute;
  top:650px;
  left: 37.5vw;
}

/* barchart */
.fullbarchart{
  width: 600px;
  height: 400px;
  position: absolute;
  top:750px;
  right: 100px;
}


.barshort1, .barshort2, .barshort3, .barshort4{
width: 0px;
background-color: blue;
position: absolute;
left: -170px;
height: 25px;
transition: width 1s;
transition-delay: 0.5s;
}
.barlong1, .barlong2, .barlong3, .barlong4{
width: 0px;
background-color: orange;
position: absolute;
left: -170px;
height: 25px;
transition: width 1.5s;
}

.barshort1{top:27px;}
.barshort2{top:80px;}
.barshort3{top:131px;}
.barshort4{top:182px;}
body:hover .fullbarchart .barshort1{width:7.5px;}
body:hover .fullbarchart .barshort2{width:260px;}
body:hover .fullbarchart .barshort3{width:290px;}
body:hover .fullbarchart .barshort4{width:170px;}
.barlong1{top:27px;}
.barlong2{top:80px;}
.barlong3{top:131px;}
.barlong4{top:182px;}
body:hover .fullbarchart .barlong1{width:210px;}
body:hover .fullbarchart .barlong2{width:330px;}
body:hover .fullbarchart .barlong3{width:445px;}
body:hover .fullbarchart .barlong4{width:350px;}
.barline{
  position: relative;
  right: -52.5px;
  width: 2px;
  height: 250px;
  background-color: gray;
  margin: 10px 37.5px;
  display: inline-block;
}

.bar1{
  position: relative;
  width: 40px;
  height: 2px;
  margin: 50px 10px;
  top:-275px;
  left: 50px;
}
.crain{
  position: relative;
  color: black;
  font-weight: 700;
  padding: 17.5px 30px;
  font-size: 12px;
  top:-232.5px;
}
.crainnum{
  position: relative;
  color: black;
  font-weight: 700;
  font-size: 12px;
  top:-220px;
  left: 55.625px;
  padding: 31.25px;
  display: inline;
}
.affiliation{
  font-size: 12px;
  font-weight: 700;
  top:-475px;
  position: relative;
  color: black;
  left: 260px;

}
.each{
  width: 12px;
  height: 12px;
  background-color: blue;
  display: inline-block;
}

/*extra chart*/
.extra{
  position: absolute;
  width: 1000px;
  height: 300px;
  left: -230px;
  top: 1234px;
}
.extrabar{
  position: relative;
  color: black;
  font-weight: 700;
  padding: 8.75px 30px;
  font-size: 12px;
  bottom: 20px;
  left: 300px;
}
.exbarname1, .exbarname2, .exbarname3, .exbarname4, .exbarname5
, .exbarname6, .exbarname7, .exbarname8, .exbarname9, .exbarname10
{background-color: #2264bb;
  position: absolute;
  left: 440px;
  height: 12px;
  transition: width 1.5s;
  }

.exbarname1{top:59px;width:236px;}
.exbarname2{top:93px;width:191px;}
.exbarname3{top:127px;width:171px;}
.exbarname4{top:161px;width:120px;}
.exbarname5{top:195px;width:118px;}
.exbarname6{top:229px;width:70px;}
.exbarname7{top:263px;width:48px;}
.exbarname8{top:297px;width:16px;}
.exbarname9{top:331px;width:15px;}
.exbarname10{top:365px;width:59px;}

.total{
  width: 125px;
  height: 100px;
  position: relative;
  left: 550px;
  bottom: 150px;
  border: 2px solid black;
  border-radius: 50px;
}
.totalsum{
  font-weight: 700; 
  position: absolute; 
  width: 125px; 
  text-align: center;
  height: 100px;
  top:30px;
}
/*footer*/
footer{
background-color: #272727; 
border-top: 1px solid #333;

}
footer .inner{
padding: 40px 0 40px 0;
}
footer .inner p.title{
  color: #d3d3d3;
  text-align: center; 
}
footer .menu{
display: flex; 
justify-content: center;
}
footer .menu li{
  position: relative;
}
footer .menu li::before{
  content: "";
  width: 3px; 
  height: 3px; 
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; 
  right: -1px;
}
footer .menu li:last-child::before{
display: none;
}
footer .menu li p{
  color: #d3d3d3; 
  font-size: 12px; 
  font-weight: 700; 
  padding: 15px;
  display: block;
}
footer .info{
  margin-top: 0px; 
  text-align: center;
}
footer .info span{
margin-right: 20px; 
color: #d3d3d3;
font-size: 12px;
}
footer .info span:last-child{
  margin-right: 0;
  }
footer .copyright{
  color: #d3d3d3; 
  font-size: 12px; 
  text-align: center; 
  margin-top: 15px;
}