<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/commoncode/dccheck.css">
    <link rel="stylesheet" href="/css/paging.css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


</head>
<body>
<!-- HEADER -->
<script type="module" src="/js/header.js"></script>
<port-header></port-header>
<!-- Detailed code management -->
<div class="Detailed-code-management">

    <div class="Detailed-code-title">
        <p>상세코드 조회</p>
    </div>
    <div class="Representative-code-line" style="display: flex; justify-content: flex-end;align-items: center;">
        <span class="fonts">
        <select onchange="searchType(this)">
            <option value="code" th:selected="${condition.code!=''}">상세코드</option>
            <option value="name" th:selected="${condition.name!=''}">상세코드명</option>
        </select>
        </span>
        <span class="fonts">
          <input id="searchText" type="text" placeholder="검색어 입력"
                 style="width: 150px;margin-left: 10px;">
        </span>
        <div class="Representative-code-button" style="padding: 10px 10px;">
            <span class="imsi-button" th:onclick="goSearch()">&nbsp;&nbsp;검색&nbsp;&nbsp;</span>
        </div>

    </div>
    <br>
    <table>
        <thead>
        <tr>
            <th class="fonts">id</th>
            <th class="fonts">대표코드</th>
            <th class="fonts">상세코드</th>
            <th class="fonts">상세코드명</th>
            <th class="fonts">상세설명</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:if="${detList.getTotalPages() != 0}" th:each="det : ${detList}">
            <td th:text="${detStat.count} + ${detList.number} * 10"></td>
            <td th:text="${det.repCode}"></td>
            <td th:text="${det.detCode}"></td>
            <td th:text="${det.detName}"></td>
            <td th:text="${det.comment}"></td>
        </tr>
        <tr th:if="${detList.getTotalPages() == 0}"> <!--users 리스트의 페이지가 0이면 다음 문장 출력-->
            <td colspan="5">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div class="page_wrap" style="margin-top: 50px;">
        <div class="page_nation">
            <th:block th:with="
                        firstAddr=@{/Code/detailedCode_list(page=1)},
                        prevAddr=@{/Code/detailedCode_list(page=${detList.number})},
                        nextAddr=@{/Code/detailedCode_list(page=${detList.number + 2})},
                        lastAddr=@{/Code/detailedCode_list(page=${detList.totalPages})}">

                <ul class="page_ul"
                    th:if="${detList.getTotalPages() != 0}"
                    th:with="start=${T(java.lang.Math).floor(detList.number/10)*10 + 1}, last=(${start + 9 < detList.totalPages ? start + 9 : detList.totalPages})">


                    <li class="page_li"><a class="arrow pprev" th:href="${firstAddr}" aria-label="First"></a></li>
                    <!--이전 페이지로 가기 버튼-->
                    <li th:class="${detList.first} ? 'page_li disabled': 'page_li'">
                        <a class="arrow prev" th:href="${detList.first} ? '#' :${prevAddr}"
                           aria-label="Previous">
                        </a>
                    </li>
                    <!--1,2,3,4,..등 페이지-->
                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == detList.number + 1} ? 'page_li active':'page_li'">
                        <a class="page-link" th:text="${page}"
                           th:href="@{/Code/detailedCode_list(page=${page})}"></a>
                    </li>
                    <!--다음 페이지로 -->
                    <li th:class="${detList.last} ? 'page_li disabled':'page_li'">
                        <a class="arrow next" th:href="${detList.last} ? '#' : ${nextAddr}"
                           aria-label="Next">
                        </a>
                    </li>
                    </li>


                    <li class="page_li"><a class="arrow nnext" th:href="${lastAddr}" aria-label="Last"></a></li>
                </ul>
            </th:block>
        </div>
    </div>
    <div class="regist-button">
        <a href="/Code/detailedCode_registerPage"><span class="imsi-button">&nbsp;&nbsp;등록&nbsp;&nbsp;</span></a>
        <a href="/Code/detailedCode_modifyPage"><span class="imsi-button">&nbsp;&nbsp;수정&nbsp;&nbsp;</span></a>
    </div>
</div>
<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
    <script>
        let type;
        const totalUrl = new URL(window.location.href);
        const urlParams = totalUrl.searchParams;
        window.onload = function () {
            type = 'code';
            if (urlParams.get('code')) {
                document.getElementById("searchText").value = urlParams.get('code'); //set value on myInputID
            } else if (urlParams.get('name')) {
                document.getElementById("searchText").value = urlParams.get('name'); //set value on myInputID
            }
        }


        const searchType = (target) => {
            // 선택한 option의 value 값
            type = target.value;
        }


        function goSearch() {
            let urlStr = window.location.href;
            let split = urlStr.split('?');
            let preUrl = new URL(split[0]);

            let value = document.getElementById("searchText").value;
            if (!value) {
                alert("검색어을 입력해주세요");
                return false;
            }
            location.replace(preUrl + "?" + type + "=" + value);
        }


    </script>
</footer>
</body>
</html>