<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PSA관리시스템</title>

  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/backend/src/main/resources/static/css/commoncode/dcmodify.css">

<script src="https://unpkg.com/react@16/umd/react.development.js"></script> 
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> 
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> 


</head>
<body>
  <!-- HEADER -->
  <header>
    <div class="inner">
      <a href="/backend/src/main/resources/templates/MainPage.html" class="logo">
        <img src="/backend/src/main/resources/static/img/favicon.png" alt="PSA">
      </a>
      <div class="sub-menu1">
        <ul class="menu">
          <li>
            <a href="javascript:void(0)">로그인</a>
          </li>
          <li>
            <a href="javascript:void(0)">회원가입</a>
          </li>
        </ul>
      </div>
      <nav role="navigation">
        <div class="main">
        <ul id="main-menu">
          <li><a href="#">공통코드<br>관리</a>           
            <ul id="sub-menu">
              <div class="line"></div>
              <li><a href="/CommonCode/RepresentativeCode/RC_check/index.html" aria-label="submenu">대표코드 관리</a></li>
              <li><a href="/CommonCode/DetailedCode/DC_check/index.html" aria-label="submenu">상세코드 관리</a></li>
            </ul>
          </li>
          <li><a href="#">안전사고<br>정보 관리</a>
            <ul id="sub-menu">
              <div class="line2"></div>
              <li><a href="#" aria-label="submenu">안전사고 정보 조회</a></li>
              <li><a href="#" aria-label="submenu">안전사고 정보 등록</a></li>
              <li><a href="#" aria-label="submenu">안전사고 정보 수정</a></li>
              <li><a href="#" aria-label="submenu">안전사고 정보<br>사용 중지</a></li>
            </ul>
          </li>
          <li><a href="#">안전사고 대응훈련<br>시나리오 관리</a>
            <ul id="sub-menu">
              <div class="line35"></div>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 조회</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 등록</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 수정</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 <br>사용 중지</a></li>
            </ul>
          </li>
          <li><a href="#">안전사고 대응훈련<br>시나리오 평가 관리</a>
            <ul id="sub-menu">
              <div class="line4"></div>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 평가 조회</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 평가 등록</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 평가 수정</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 시나리오 평가 삭제</a></li>
            </ul>
          </li>
          <li><a href="#">안전사고 대응훈련<br>결과 관리</a>
            <ul id="sub-menu">
              <div class="line35"></div>
              <li><a href="#" aria-label="submenu">대응훈련 결과 조회</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 결과 등록</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 일자별<br>수행 결과 등록</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 결과 수정</a></li>
              <li><a href="#" aria-label="submenu">대응훈련 결과 삭제</a></li>
            </ul>
          </li>
          <li><a href="#">비상연락망<br>관리</a>
            <ul id="sub-menu">
              <div class="line6"></div>
              <li><a href="#" aria-label="submenu">비상연락망 조회</a></li>
              <li><a href="#" aria-label="submenu">비상연락망 등록</a></li>
              <li><a href="#" aria-label="submenu">비상연락망 수정</a></li>
              <li><a href="#" aria-label="submenu">비상연락망 삭제</a></li>
            </ul>
          </li>
          <li><a href="#">help<br>&nbsp;</a>
            <ul id="sub-menu">
              <div class="line7"></div>
              <li><a href="#" aria-label="submenu">항만 안전사고 현황</a></li>
              <li><a href="#" aria-label="submenu">FAQ</a></li>
              <li><a href="#" aria-label="submenu">자료실</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </nav>
  </header>
  <!-- Detailed code management -->
  <div class="Detailed-code-management">

    <div class="Detailed-code-title">
      <p>상세코드 수정</p>
    </div>
    
    <center>
      <table style="text-align: left; width: 850px;" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td style="width: 400px;">
              <span class="fonts">
                <p class="pstyle">수정할 상세코드의 
                  <select>
                    <option>id</option>
                    <option>상세코드번호</option>
                    <option>상세코드명</option>
                  </select> 
                  입력</p>
                  <br>
                <input type="text" required><br>
              </span>
              <div class="regist-button">
                <a href="#"><span class="imsi-button" style="position: absolute; left: 75px;">&nbsp;&nbsp;확인&nbsp;&nbsp;</span></a>
              </div>
            </td>

            <td style="width: 50px;"></td>

            <td style="width: 400px;">
              <div class="Detailed-code-line">
                <p> 
                  <span class="fonts">
                    대표코드
                    <select disabled>
                      <option>AT01</option>
                      <option>BT01</option>
                      <option>CT01</option>
                      <option>DT01</option>
                      <option>ET01</option>
                      <option>FT01</option>
                      <option>GT01</option>
                      <option>HT01</option>
                    </select>
                  </span>
                  <span style="width: 0px; display: inline-block;"></span>      
                  <span class="fonts">
                    대표코드명
                    <input type="text" placeholder="" style="width: 100px;" disabled>
                    <br><br><br>
                    <p class="Alignment">상세코드번호</p>
                    <br><br>
                    <input type="text" style="width: 250px;" disabled>
                    <br><br><br>
                    <p class="Alignment">변경 후의 상세코드명 입력</p>
                    <br><br>
                    <input type="text" style="width: 250px;" required>
                    <br><br><br>
                    <p class="Alignment">변경 후의 상세설명 입력</p>
                    <br><br>
                    <textarea cols="40" rows="5" name="info"></textarea>
                  </span>
                  <br>  
                </p>
              </div>
              <br>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  <div class="regist-button">
    <a href="#"><span class="imsi-button">&nbsp;&nbsp;수정&nbsp;&nbsp;</span></a>
    <a href="/backend/src/main/resources/templates/CommonCode/DC_Check.html"><span class="imsi-button">&nbsp;&nbsp;취소&nbsp;&nbsp;</span></a>
  </div>
</div>
  <!-- footer -->
  <footer>
    <div class="inner">
      <p class="title">DEVELOPED BY TEAM</p>
      <ul class="menu">
        <li><p>스마트 해상물류 프로젝트</p></li>
        <li><p>항만 안전사고 대응 관리 시스템</p></li>
      </ul>
      <div class="info">
        <span>MENTOR: 김인수</span>
        <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
        <span>FRONTEND TEAM: 송영주 주현정</span>
      </div>
      <p class="copyright">
        <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
      </p>
    </div>
  </footer>
</body>
</html>