<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>

    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../static/css/traningscenarios/tsregister.css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<script type="module" src="../../static/js/header.js"></script>
<port-header></port-header>


<!--training-scenarios-->

<div class="training-scenarios">

    <div class="regist-title">
        <p>대응훈련 시나리오 등록</p>
    </div>
    <span class="fonts">시나리오 유형&nbsp; 
      <select id="incidentType" th:name="incidentType" onchange="ChangeValue()">
        <option value="INCIDENT">사고</option>
        <option value="DISASTER">재난</option>
      </select></span>
    <br><br>
    <div class="regist-line-1">
        <p><span class="fonts"> 시나리오명 &nbsp;&nbsp;<input type="text" name="name" th:id="name" placeholder=""
                                                         style="width: 250px;"> </span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span class="fonts" id="ch2">사고 유형</span> &nbsp;&nbsp;
            <select id="incidentDetailType" name="incidentDetailType">
                <option name="incidentDetailType" value="none" >&nbsp;--&nbsp;</option>
                <option name="incidentDetailType" value="DROP" id="sel1">추락</option>
                <option name="incidentDetailType" value="FALL" id="sel2">넘어짐</option>
                <option name="incidentDetailType" value="BUMP" id="sel3">부딪힘</option>
                <option name="incidentDetailType" value="TRAP" id="sel4">끼임</option>
                <option name="incidentDetailType" value="HIT" id="sel5">맞음</option>
            </select>
    </div>

    <div class="regist-line-2">
        <p><span class="fonts" id="ch1">사고 수준</span> &nbsp;&nbsp;
            <input type="radio" th:name="incidentLevel" th:id="incidentLevel" value="LEVEL_1" checked> Level1
            <input type="radio" th:name="incidentLevel" th:id="incidentLevel" value="LEVEL_2"> Level2
            <input type="radio" th:name="incidentLevel" th:id="incidentLevel" value="LEVEL_3"> Level3
        </p>
    </div>

    <div class="regist-line-3">
        <p><span class="fonts" id="ch3">사고 영향</span> &nbsp;&nbsp;
            <select id="incidentImpact">
                <option th:name="incidentImpact" value="DAMAGE">단순</option>
                <option th:name="incidentImpact" value="SLIGHT">경상</option>
                <option th:name="incidentImpact" value="SERIOUS">중상</option>
                <option th:name="incidentImpact" value="DEATH">사망</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fonts" id="ch4">사고항만구역</span> &nbsp;&nbsp;
            <select th:id="portArea">
                <option th:name="portArea" value="PLACE1">무역항 수상구역</option>
                <option th:name="portArea" value="PLACE2">무역항 육상구역</option>
                <option th:name="portArea" value="PLACE3">연안항 수상구역</option>
                <option th:name="portArea" value="PLACE4">연안항 육상구역</option>
                <option th:name="portArea" value="PLACE5">하역</option>
            </select>
        </p>
    </div>

    <div class="regist-line-4">
        <p><span class="fonts" id="ch5">사고항만설비</span>
            &nbsp;<input type="checkbox" name="accidentPortFacilityList" value="CRANE">크레인
            &nbsp;<input type="checkbox" name="accidentPortFacilityList" value="CONTAINER">컨테이너
            &nbsp;<input type="checkbox" name="accidentPortFacilityList" value="FORKLIFT">지게차
            &nbsp;<input type="checkbox" name="accidentPortFacilityList" value="LADDER">사다리
        </p>
    </div>

    <div class="regist-button">
        <a href="#"><span class="imsi-button" th:id="TS_Registration_button">&nbsp;&nbsp;등록&nbsp;&nbsp;</span></a>
        <a href="javascript:window.history.go(-1);"><span class="imsi-button">&nbsp;&nbsp;취소&nbsp;&nbsp;</span></a>
    </div>
</div>


<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
</footer>
</body>
<script src="/js/traningscenarios/tsregister.js"></script>
<script src="/js/traningscenarios/TS_registration.js"></script>

<script>
    function btn() {
        alert('시나리오 결과가 저장되었습니다.');
        location.href="/TrainingScenarios/TS_Check"
    }
</script>
</html>
