<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSA관리시스템</title>

    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/traningscenarios/tsregister.css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<script type="module" src="/js/header.js"></script>
<port-header></port-header>


<!--training-scenarios-->

<div class="training-scenarios">

    <div class="regist-title">
        <p>사고대응활동 등록</p>
    </div>

    <div class="regist-line-1">
        <p><span class="fonts"> 시나리오명 &nbsp;&nbsp;<input type="text" name="name" th:id="name" placeholder=""
                                                         style="width: 250px;" th:value="${scenarioName}"
                                                         readonly> </span>
    </div>

    <div class="regist-line-5">
        <p class="fonts" id="ch6">사고대응활동 내용</p>
    </div>
    <br>


    <div class="regist-line-6">
        <p><textarea placeholder="발생한 상황을 가정하여 상세하게 작성"></textarea></p>
    </div>

    <div class="regist-line-7">
        <p><span class="fonts"> 담당자 &nbsp;<input type="text" placeholder="담당자 이름 입력"> </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fonts"> 완료계획시간 &nbsp;
          <input type="date">
        </span>
        </p>
    </div>

    <div class="regist-button">
        <a href="#"><span class="imsi-button" th:id="TS_Registration_button">&nbsp;&nbsp;등록&nbsp;&nbsp;</span></a>
        <a href="javascript:window.history.go(-1);"><span class="imsi-button">&nbsp;&nbsp;취소&nbsp;&nbsp;</span></a>
    </div>
</div>


<!-- footer -->
<footer>
    <div class="inner">
        <p class="title">DEVELOPED BY TEAM</p>
        <ul class="menu">
            <li><p>스마트 해상물류 프로젝트</p></li>
            <li><p>항만 안전사고 대응 관리 시스템</p></li>
        </ul>
        <div class="info">
            <span>MENTOR: 김인수</span>
            <span>BACKEND TEAM: 정민환 이혜원 박태영</span>
            <span>FRONTEND TEAM: 송영주 주현정</span>
        </div>
        <p class="copyright">
            <span class="this-year"></span>Copyright © PSA Management Program All Rights Reserved.
        </p>
    </div>
</footer>
</body>
<script src="/js/traningscenarios/tsregister.js"></script>
<script src="/js/traningscenarios/TS_registration.js"></script>

<script>
    function btn() {
        alert('시나리오 결과가 저장되었습니다.');
        location.href = "/TrainingScenarios/TS_Check"
    }
</script>
</html>
